.catalog{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.catalogInfoCont{
  width: 100%;
  opacity: 0;
}

.catalogInfoCont2{
  width: 100%;
}

@media screen and (max-width: 450px) {
  .catalog{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 92.22%;
    margin: 0 auto;
  }
}
