.products{
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-between;
    width: 100%;
    margin-top: 54px;
    /* gap: 4.74%; */
}

.leftFilterBlock{
    display: block;
    width: 20.5%;
    margin-top: 74px;
}

.allWoodSpecies{
    display: block;
    color: #C9C9C9;
    font-size: 16.63px;
    line-height: 21.46px;
}

.customRadio {
    display: none;
}

.productsType{
    margin-top: 13px;
    color: #C9C9C9;
}

.productsType div{
    margin-top: 10px;
    font-size: 14px;
    line-height: 18.06px;
}

.checkTitle{
    color: #C9C9C9;
    font-size: 16.63px;
    line-height: 21.46px;
    margin-top: 30px;
}

.customCheckbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.customCheckbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.customCheckbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #D9D9D9;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.customCheckbox:checked+label::before {
    border-color: #FFD600;
    background-color: #FFF6D6;
    background-image: url("../../../assets/images/catalogs/checkMark.svg");
}

.rightProductsBlock{
    display: block;
    width: 74.76%;
}

.searchAndSort{
    display: flex;
    right: 0;
    position: absolute;
    margin-right: 10%;
    gap: 20px;
}

.divSearchfield {
    width: 215px;
    height: 27px;
}

.searchfield{
    background-color: #191919;
    border-radius: 2px;
    width: 204px;
    height: 25px;
    margin: 0;
    padding-left: 11px;
    border: 0;
    display: block;
    color: #ffffff99;
    background-image: url("../../../assets/images/catalogs/loupe.svg");
    background-repeat: no-repeat;
    background-position: right 11px center;
    outline: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding-left: 11px;
    font-size: 13.34px;
    line-height: 16.01px;
    font-family: NAMU-1850;
}

.divSortfield {
    width: 176px;
    height: 27px;
}

/* .sortfield{
    background-color: #191919;
    border-radius: 2px;
    width: 165px;
    height: 23px;
    margin: 0;
    padding-top: 4px;
    padding-left: 11px;
    border: 0;
    display: block;
    color: #ffffff99;
    background-image: url("../../../assets/images/catalogs/arrow.svg");
    background-repeat: no-repeat;
    background-position: right 11px center;
    outline: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 13.34px;
    line-height: 16.01px;
} */

/* .sortfield{ 
    display: block; 
    font-size: 13.34px;
    line-height: 16.01px;
    color: #ffffff99;  
    width: 165px;
    height: 23px;
    max-width: 100%; 
    margin: 0; 
    border-radius: 5px;
    background-color: #191919; 
    background-image: url("../../../assets/images/catalogs/arrow.svg");
    font-family: NAMU-1990;
}  */

.sortfield { 
    display: block;
    font-size: 13.34px;
    line-height: 16.01px;
    font-family: NAMU-1850;
    font-weight: 400; 
    color: #ffffff99; 
    /* padding: .6em 1.4em .5em .8em;  */
    padding-left: 11px;
    width: 176px;
    height: 27px;
    /* box-sizing: border-box;  */
    margin: 0;
    border: none;
    outline: none;
    /* border: 1px solid #aaa;
     box-shadow: 0 1px 0 1px rgba(0,0,0,.04);  */
    border-radius: 2px;
     -moz-appearance: none;
     -webkit-appearance: none;
     appearance: none;
     background-color: #191919; 
    background-image: url("../../../assets/images/catalogs/arrow.svg");
    /* linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);  */
    background-repeat: no-repeat, repeat;
    background-position: right 11px center;
    /* background-size: .65em auto, 100%;  */
    } 
     /* .sortfield::-ms-expand { display: none; }  */
     /* .sortfield:hover { border-color: #888; } 
     .sortfield:focus { border-color: #aaa; 
     box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
     box-shadow: 0 0 0 3px -moz-mac-focusring; 
    color: #ffffff99;
     outline: none; 
    } 
     .sortfield option { font-weight:normal; } 
     *[dir="rtl"] .sortfield, :root:lang(ar) .sortfield, :root:lang(iw) .sortfield { 
    background-position: left .7em top 50%, 0 0; 
    padding: .6em .8em .5em 1.4em; 
    } */

    
.searchAndSort .field::placeholder {
    height: 21px;
    color: #ffffff99;
}

.addPostButton{
    margin-top: 10px;
    margin-bottom: 10px;
}

.posts{
    margin-top: 10px;
}

.headlines{
    text-align: center;
}

.paddingBottom{
    padding-bottom: 10px;
}

.productsList{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 46px;
    gap: 14px;
}

.loadMore{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 69.15px;
    width: 254px;
    height: 52px;
    border-radius: 15px;
    font-family: NAMU-1990;
    font-size: 16px;
    line-height: 19.2px;
    background-color: #ffffff1a;
    color: #ffffffa3;
    /* border: none; */
}

@media screen and (max-width: 450px) {
    .products{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 13.5px;
    }
    
    .leftFilterBlock{
        display: block;
        width: 100%;
        margin-top: 0px;
    }
    
    .allWoodSpecies{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        color: #C9C9C9;
        font-size: 10.4px;
        line-height: 12.48px;
        gap: 15.75px;
    }
    
    .productsType{
        display: none;
        margin-top: 13px;
        color: #C9C9C9;
    }
    
    .productsType div{
        margin-top: 10px;
        font-size: 14px;
        line-height: 18.06px;
    }

    .rangeSlider{
        display: none;
    }
    
    .checkTitle{
        display: none;
        color: #C9C9C9;
        font-size: 16.63px;
        line-height: 21.46px;
        margin-top: 30px;
    }
    
    .customCheckbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    
    .customCheckbox+label {
        display: inline-flex;
        align-items: center;
        user-select: none;
    }
    .customCheckbox+label::before {
        content: '';
        display: inline-block;
        width: 1em;
        height: 1em;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #D9D9D9;
        border-radius: 0.25em;
        margin-right: 0.5em;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
    }
    
    .customCheckbox:checked+label::before {
        border-color: #FFD600;
        background-color: #FFF6D6;
        background-image: url("../../../assets/images/catalogs/checkMark.svg");
    }
    
    .rightProductsBlock{
        display: block;
        width: 100%;
        margin-top: 15.25px;
    }
    
    .searchAndSort{
        display: flex;
        right: 0;
        position: absolute;
        margin-right: 10%;
        gap: 20px;
    }
    
    .divSearchfield {
        width: 215px;
        height: 27px;
    }
    
    .searchfield{
        background-color: #191919;
        border-radius: 2px;
        width: 204px;
        height: 25px;
        margin: 0;
        padding-left: 11px;
        border: 0;
        display: block;
        color: #ffffff99;
        background-image: url("../../../assets/images/catalogs/loupe.svg");
        background-repeat: no-repeat;
        background-position: right 11px center;
        outline: none;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        padding-left: 11px;
        font-size: 13.34px;
        line-height: 16.01px;
        font-family: NAMU-1850;
    }
    
    .divSortfield {
        display: none;
        width: 176px;
        height: 27px;
    }
    
    .sortfield { 
        display: block;
        font-size: 13.34px;
        line-height: 16.01px;
        font-family: NAMU-1850;
        font-weight: 400; 
        color: #ffffff99; 
        /* padding: .6em 1.4em .5em .8em;  */
        padding-left: 11px;
        width: 247px;
        height: 34px;
        /* box-sizing: border-box;  */
        margin: 0;
        border: none;
        outline: none;
        /* border: 1px solid #aaa;
         box-shadow: 0 1px 0 1px rgba(0,0,0,.04);  */
        border-radius: 5px;
         -moz-appearance: none;
         -webkit-appearance: none;
         appearance: none;
         background-color: #191919; 
        background-image: url("../../../assets/images/catalogs/arrow.svg");
        /* linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);  */
        background-repeat: no-repeat, repeat;
        background-position: right 11px center;
        /* background-size: .65em auto, 100%;  */
    }

    .searchAndSort .field::placeholder {
        height: 21px;
        color: #ffffff99;
    }
    
    .addPostButton{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .posts{
        margin-top: 10px;
    }
    
    .headlines{
        text-align: center;
    }
    
    .paddingBottom{
        padding-bottom: 10px;
    }
    
    .productsList{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 46px;
        /* gap: 14px; */
    }
    
    .loadMore{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-top: 69.15px;
        width: 254px;
        height: 52px;
        border-radius: 15px;
        font-family: NAMU-1990;
        font-size: 16px;
        line-height: 19.2px;
        background-color: #ffffff1a;
        color: #ffffffa3;
        border: none;
    }
}