.background{
    display: none;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding-top: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
  }
  
  .myModal{
      z-index: 11;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-45%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;
      /* background: rgba(0, 0, 0, 0.5); */
      z-index: 11;
      overflow: none; /* Allow for vertical scrolling */
      width: 68.54%;
      /* max-height: 80vh; */
      padding: 20px; /* Add padding for better appearance */
      border-radius: 16px; /* Add border radius */
    }
    
    .background.active {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .myModalContent {
      background-color: #191919;
      width: 100%;
      border-radius: 15px;
    }

  @media screen and (max-width: 450px) {
    .background{
      display: none;
      z-index: 10;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 300%;
      padding-top: 250%;
      background-color: rgba(0, 0, 0, 0.5);
      overflow: hidden;
    }
  }

  @media screen and (max-width: 360px) {
    .background{
      display: none;
      z-index: 10;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 300%;
      padding-top: 400%;
      background-color: rgba(0, 0, 0, 0.5);
      overflow: hidden;
    }
  }
  