.seeBelow{
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: center;
    opacity: 0;
}

.checkBelow{
    display: flex;
    align-items: center; 
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 25px;
    color: gray;
    font-size: 20px;
    line-height: 28px;
}

.checkBelowImg{
    display: flex;
    width: 18px;
    height: 9px;
    margin: 0 auto;
    margin-top: 5px;
}

.checkBelowImg img{
    width: 18px;
    height: 9px;
}