.forHome{
    height: 1fr;
    width: 80%;
    margin: 0 auto;
}

.navLink{
    text-decoration: none;
    color: #000000;
}

.line15_6{
    width: 15.6px;
}

.titleBlock{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 112px;
    font-size: 60px;
    line-height: 66px;
    font-family: NAMU-1960;
    opacity: 0;
}

.titleWhite{
    color: rgba(255, 255, 255, 1);
}

.titleYellow{
    color: rgba(255, 214, 0, 1);
}

.crookedLine{
    display: flex;
    width: 82.11%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.crookedLine img{
    width: 100%;
}

.firstCont{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-top: 54px;
    gap: 14px;
    opacity: 0;
}

.firstCont .bottomImg{
    display: flex;
}

.firstCont .alterBottomImg{
    display: none;
}

.miniLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 153.43px;
    margin-bottom: 37.39px;
    width: 100%;
}

.miniTextTop{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 74.33%;
    margin: 0 auto;
    font-size: 32px;
    line-height: 44.8px;
    gap: 15.6px;
    opacity: 0;
}

.checkBelow{
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: center;
    margin-top: 73px;
}

.checkBelowText{
    display: flex;
    align-items: center; 
    justify-content: center;
    align-self: center;
    width: 100%;
    color: gray;
    font-size: 20px;
    line-height: 28px;
}

/* .checkBelowTitle{
    display: flex;
    color: gray;
    font-size: 20px;
    line-height: 28px;
} */

.checkBelowImg{
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; 
    justify-content: center; */
    width: 18px;
    height: 9px;
    margin-top: 5px;
}

.checkBelowImg img{
    width: 18px;
    height: 9px;
}

.alterTopBlock3{
    display: none;
    opacity: 0;
}

.block2{
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 80px;
    gap: 14px;
    opacity: 0;
}

/* .block2 .firstCentrImg{
    margin-left: 16px;
    margin-right: 13px;

}

.block2 .secondCentrImg{
    margin-right: 16px;
} */

.alterBottomBlock3{
    display: none;
    opacity: 0;
}

.block3{
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
    gap: 14px;
    opacity: 0;
}

.block3 .leftCentrImg{
    display: flex;
}

.exampleText{
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: center;
    margin-top: 91px;
    margin-bottom: 39px;
    font-size: 40px;
    line-height: 56px;
    width: 100%;
    gap: 12px;
    opacity: 0;
}

.furnExComt{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

.furnBlock{
    width: 373px;
    opacity: 0;
}

.furnBlock img{
    width: 100%;
}

.tit{
    margin-top: 15px;
    font-size: 20px;
    line-height: 28px;
    color: rgba(255, 255, 255, 1);
}

.siz{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 17px;
    line-height: 23.8px;
    color: #ffffff66;
}

.tex{
    font-size: 17px;
    line-height: 23.8px;
    color: #ffffff99;
    margin-bottom: 48px;
}

.moreFurnButton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 378px;
    height: 52px;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 89px;
    border: #FFD600 1px solid;
    background-color: #FFD600;
    color: #000000;
    text-decoration: none;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    opacity: 0;
}

.moreFurnButton:hover{
    background-color: #000000;
    color: #FFD600;
}

.fonImg{
    width: 100%;
    height: 282px;
    margin: 0 auto;
    margin-top: 108px;
    position: relative;
    opacity: 0;
}

.fonImg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 282px;  
    background-image: url("../../assets/images/about_us/Rectangle 697.png");
    background-size: 100% 100%;
}

.fonImgTitle {
    top: 40px;
    left: 39.88%;
    width: 20.07%;
    position: absolute;
    z-index: 1;
}

.fonImgText{
    top: 37.94%;
    /* left: 27.82%; */
    /* right: 27.82%; */
    /* height: 15.96%; */
    width: 100%;
    position: absolute;
    z-index: 1;
    text-align: center;
    font-size: 171.11%;
    line-height: 199.55%;
    /* font-size: 200%;
    line-height: 250%; */
    color: white;
}

.curvedLineImg {
    top: 51.42%;
    left: 27.82%;
    /* right: 27.82%; */
    width: 44.36%;
    height: 22.5%;
    position: absolute;
    z-index: 1;
}

.learnDetailed{
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #FFD600;
    border: 2px;
    border-radius: 15px;
    left: 33.68%;
    bottom: 23px;
    width: 32.56%;
    height: 18.44%;
    position: absolute;
    z-index: 1;
}

.learnDetailedNav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    border: #FFD600 2px solid;
    border-radius: 15px;
    color: #FFD600;
    text-decoration: none;
    font-size: 16px;
    line-height: 19.2px;
    font-family: NAMU-1990;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear; 
}

.learnDetailedNav:hover{
    background-color: #FFD600;
    color: #000000;
}

@media screen and (max-width: 450px) {
    .forHome{
        height: 1fr;
        width: 92.22%;
        margin: 0 auto;
    }
    
    .navLink{
        text-decoration: none;
        color: #000000;
    }
    
    .line15_6{
        width: 15.6px;
    }
    
    .titleBlock{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 43px;
        font-size: 39px;
        line-height: 42.9px;
        font-family: NAMU-1960;
    }

    .titleWhite{
        color: rgba(255, 255, 255, 1);
    }
    
    .titleYellow{
        color: rgba(255, 214, 0, 1);
    }
    
    .crookedLine{
        display: none;
        width: 82.11%;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }
    
    .crookedLine img{
        width: 100%;
    }
    
    .firstCont{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        align-items: center;
        justify-content: space-between;
        margin-top: 54px;
        gap: 0;
    }

    .firstCont img{
        width: 49.1%;
    }

    .firstCont .bottomImg{
        display: none;
    }

    .firstCont .alterBottomImg{
        display: flex;
        width: 100%;
        margin-top: 7px;
    }
    
    .miniLogo{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 87px;
        margin-bottom: 37.39px;
    }
    
    .miniTextTop{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0;
        font-size: 24px;
        line-height: 33.6px;
        gap: 7px;
    }

    .checkBelow{
        display: flex;
        flex-wrap: wrap;
        align-items: center; 
        justify-content: center;
        margin-top: 28px;
        opacity: 0;
    }
    
    .checkBelowText{
        display: flex;
        flex-wrap: wrap;
        align-items: center; 
        justify-content: center;
        align-self: center;
        width: 100%;
        color: gray;
        font-size: 20px;
        line-height: 28px;
    }
    
    /* .checkBelowTitle{
        display: flex;
        color: gray;
        font-size: 20px;
        line-height: 28px;
    } */
    
    .checkBelowImg{
        display: flex;
        flex-wrap: wrap;
        /* align-items: center; 
        justify-content: center; */
        width: 18px;
        height: 9px;
        margin: 0 auto;
        margin-top: 5px;
    }
    
    .checkBelowImg img{
        width: 18px;
        height: 9px;
    }

    .alterTopBlock3{
        display: flex;
        flex-wrap: wrap;
        align-items: center; 
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        margin-top: 79px;
    }


    .alterTopBlock3 img {
        width: 100%;
    }
    
    .block2{
        display: flex;
        flex-wrap: wrap;
        align-items: center; 
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
        margin-top: 0px;
        gap: 0
    }

    .block2 div{
        margin-top: 8px;
        width: 48.8%;
    }

    .block2 div img{
        width: 100%;
    }
    
    .block2 .firstCentrImg{
        margin-left: 0;
        margin-right: 0;
    }
    
    .block2 .secondCentrImg{
        margin-right: 0;
    }

    .alterBottomBlock3{
        display: flex;
        flex-wrap: wrap;
        align-items: center; 
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        margin-top: 8px;
    }

    .alterBottomBlock3 img {
        width: 100%;
    }
    
    .block3{
        display: none;
        flex-wrap: wrap;
        align-items: center; 
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        margin-top: 8px;
        gap: 0;
    }
    
    .exampleText{
        display: flex;
        flex-wrap: wrap;
        align-items: center; 
        justify-content: center;
        margin-top: 39px;
        margin-bottom: 17px;
        font-size: 24px;
        line-height: 33.6px;
        width: 100%;
        gap: 7px;
    }
    
    .furnExComt{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .furnBlock{
        display: block;
        width: 162px;
        height: 344px;
    }

    .furnBlock img{
        width: 100%;
    }
    
    .tit{
        margin-top: 13px;
        font-size: 15px;
        line-height: 15.75px;
        color: rgba(255, 255, 255, 1);
    }
    
    .siz{
        margin-top: 8px;
        margin-bottom: 6px;
        font-size: 13px;
        line-height: 18.2px;
        color: #ffffff66;
    }
    
    .tex{
        font-size: 11px;
        line-height: 15.4px;
        color: #ffffff99;
        margin-bottom: 51px;
    }
    
    .moreFurnButton{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 52px;
        border-radius: 10px;
        margin: 0 auto;
        margin-top: 30px;
        background-color: #FFD600;
        color: #000000;
        text-decoration: none;
    }
    
    .fonImg{
        width: 108%;
        height: 196px;
        left: -3.88%;
        margin-top: 87px;
        position: relative;
    }
    
    .fonImg::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 196px;  
        background-image: url("../../assets/images/about_us/alterFonImg.png");
        background-size: 100% 100%;
    }
    
    .fonImgTitle {
        top: 28px;
        left: 31.11%;
        width: 136px;
        position: absolute;
        z-index: 1;
    }
    
    .fonImgText{
        top: 66px;
        left: 16.94%;
        height: 46px;
        width: 65.83%;
        position: absolute;
        z-index: 1;
        text-align: center;
        font-size: 24px;
        line-height: 26.4px;
        /* font-size: 200%;
        line-height: 250%; */
        color: white;
    }
    
    .curvedLineImg {
        display: none;
    }

    .learnDetailed{
        width: 92.22%;
        height: 22.44%;
        left: 3.89%;
        bottom: 17px;
        position: absolute;
        z-index: 1;
    }
    
    .learnDetailedNav{
        width: 100%;
        height: 100%;
        border-radius: 10px;
        color: #FFD600;
        text-decoration: none;
        font-size: 13px;
        line-height: 15.6px;
        font-family: NAMU-1990;
    }

    .learnDetailedNav img {
        width: 100%;
    }
}