.orderProcess{
    height: 1fr;
    width: 80%;
    margin: 0 auto;
}

.vertical28{
    height: 28px;
}

.vertical30{
    height: 30px;
}

.vertical38{
    height: 38px;
}

.line15_6{
    width: 1.08%;
}

.firstBlock{
    display: block;
    align-items: center;
    justify-content: center;
    background-color: #191919;
    border-radius: 15px;
    margin-top: 78px;
    color: white;
}

.firstBlock .text{
    display: block;
    font-size: 60px;
    line-height: 66px;
    font-family: NAMU-1960;
    margin-left: 40px;
}

.firstBlockImg{
    margin-bottom: 0px;
}

.titleWhite{
    color: rgba(255, 255, 255, 1);
}

.titleYellow{
    color: rgba(255, 214, 0, 1);
}

.firstBlock img{
    width: 100%;
}

.secondContainer{
    display: block;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
    margin-left: -12.5%;
    width: 125%;
    background-color: #191812;
}

.secondContainer .text1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    line-height: 44.8px;
    color: rgba(255, 255, 255, 1);
}

.secondContainer .text1_1{
    display: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    font-size: 20px;
    line-height: 28px;
    color: rgba(255, 255, 255, 1);
}

.secondContainer .text1_2{
    display: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    font-size: 20px;
    line-height: 28px;
    color: rgba(255, 255, 255, 1);
}

.secondContainer .crookedLine{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 46.32%;
    margin: 0 auto;
}

.secondContainer .text2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 34.14px;
    font-size: 40px;
    line-height: 56px;
    color: rgba(255, 255, 255, 1);
}

.secondContainer .text3{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;    
    font-size: 40px;
    line-height: 56px;
}

.seeBelow{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.thirdConteiner{
    display: block;
    align-items: center;
    justify-content: center;
    margin-top: 73px;
}

.title{
    display: flex;
    flex-wrap: wrap;
    font-size: 40px;
    line-height: 40px;
    gap: 15.6px;
}

.ordBlock{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 19px;
}

.ordBlock .text{
    border-radius: 15px;
    background-color: #ffffff1a;
    width: 55.68%;
    margin: 0 auto;
}

.ordBlock .text .numbAndTitl{
    display: flex;
    flex-wrap: wrap;
    margin-left: 7.73%;
    margin-top: 40px;
}

.ordBlock .text .numbAndTitl .number{
    font-size: 65px;
    line-height: 65px;
    color: #FFD600;
}

.ordBlock .text .numbAndTitl .title{
    display: block;
    font-size: 25px;
    line-height: 35px;
    width: 70.18%;
    color: #FFFFFF;
    margin-left: 5.03%;
}

.ordBlock .text .paragraph{
    font-size: 20px;
    line-height: 28px;
    color: #ffffff87;
    margin-top: 33px;
    margin-left: 7.73%;
    margin-right: 6.7%;
    margin-bottom: 40px;
}

.thirdContImg{
    display: flex;
}

.alterThirdContImg{
    display: none;
}

.fonImg{
    width: 100%;
    height: 282px;
    margin-top: 108px;
    position: relative;
}

.fonImg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 282px;  
    background-image: url("../../assets/images/about_us/Rectangle 697.png");
    background-size: 100% 100%;
}

.fonImgTitle {
    top: 40px;
    left: 39.97%;
    right: 45.4%;
    /* width: 9.3%; */
    height: 38.66px;
    position: absolute;
    z-index: 1;
}

.fonImgText{
    top: 37.94%;
    /* left: 27.82%; */
    /* right: 27.82%; */
    /* height: 15.96%; */
    width: 100%;
    position: absolute;
    z-index: 1;
    text-align: center;
    font-size: 171.11%;
    line-height: 199.55%;
    /* font-size: 200%;
    line-height: 250%; */
    color: white;
}

.curvedLineImg {
    display: flex;
    top: 51.42%;
    left: 27.82%;
    /* right: 27.82%; */
    width: 44.36%;
    height: 22.5%;
    position: absolute;
    z-index: 1;
}

.learnDetailed{
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #FFD600;
    border: 2px;
    border-radius: 15px;
    left: 33.68%;
    bottom: 23px;
    width: 32.56%;
    height: 18.44%;
    position: absolute;
    z-index: 1;
}

.learnDetailedNav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    border: #FFD600 2px solid;
    border-radius: 15px;
    color: #FFD600;
    text-decoration: none;
    font-size: 16px;
    line-height: 19.2px;
    font-family: NAMU-1990;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear; 
}

.learnDetailedNav:hover{
    background-color: #FFD600;
    color: #000000;
}

@media screen and (max-width: 450px) {
    .orderProcess{
        height: 1fr;
        width: 92.22%;
        margin: 0 auto;
    }
    
    .vertical28{
        height: 28px;
    }
    
    .vertical30{
        height: 30px;
    }
    
    .vertical38{
        height: 38px;
    }
    
    .line15_6{
        width: 1.08%;
    }
    
    .firstBlock{
        display: block;
        align-items: center;
        justify-content: center;
        background-color: #191919;
        border-radius: 10px;
        margin-top: 43px;
        color: white;
    }
    
    .firstBlock .text{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        font-size: 32px;
        line-height: 35.2px;
        margin-left: 0px;
        font-family: NAMU-1960;
    }

    .firstBlock .text .titleYellow{
        font-size: 40px;
        line-height: 44px;
        color: rgba(255, 214, 0, 1);
    }
    
    .firstBlockImg{
        margin-bottom: 0px;
    }
    
    .titleWhite{
        color: rgba(255, 255, 255, 1);
    }
    
    .titleYellow{
        color: rgba(255, 214, 0, 1);
    }
    
    .firstBlock img{
        width: 100%;
    }
    
    .secondContainer{
        display: block;
        align-items: center;
        justify-content: center;
        margin-top: 79px;
        width: 108%;
        margin-left: -3.88%;
        background-color: #191812;
        font-family: NAMU-1850;
    }
    
    .secondContainer .text1{
        display: none;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
        font-size: 20px;
        line-height: 28px;
        color: rgba(255, 255, 255, 1);
    }

    .secondContainer .text1_1{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
        font-size: 20px;
        line-height: 28px;
        color: rgba(255, 255, 255, 1);
    }

    .secondContainer .text1_2{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
        font-size: 20px;
        line-height: 28px;
        color: rgba(255, 255, 255, 1);
    }
    
    .secondContainer .crookedLine{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 216px;
        margin: 0 auto;
    }

    .secondContainer .crookedLine img{
        width: 216px;
    }
    
    .secondContainer .text2{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 34.14px;
        font-size: 24px;
        line-height: 33.6px;
        color: rgba(255, 255, 255, 1);
    }
    
    .secondContainer .text3{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;    
        font-size: 24px;
        line-height: 33.6px;
    }
    
    .seeBelow{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    
    .thirdConteiner{
        display: block;
        align-items: center;
        justify-content: center;
        margin-top: 73px;
    }
    
    .title{
        display: flex;
        flex-wrap: wrap;
        font-size: 24px;
        line-height: 33.6px;
        gap: 10px;
    }
    
    .ordBlock{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
    .ordBlock .text{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        background-color: #000000;
        width: 100%;
        margin: 0 auto;
    }
    
    .ordBlock .text .numbAndTitl{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-left: 0;
        margin-top: 0;
        gap: 9.04%;
    }
    
    .ordBlock .text .numbAndTitl .number{
        font-size: 65px;
        line-height: 65px;
        color: #FFD600;
    }
    
    .ordBlock .text .numbAndTitl .title{
        display: block;
        font-size: 20px;
        line-height: 28px;
        color: #FFFFFF;
        margin-top: 9px;
        margin-left: 0;
    }
    
    .ordBlock .text .paragraph{
        font-size: 20px;
        line-height: 28px;
        color: #ffffff87;
        margin-top: 20px;
        margin-left: 0;
        margin-right: 6.7%;
        margin-bottom: 4px;
    }

    .thirdContImg{
        display: none;
    }
    
    .alterThirdContImg{
        display: flex;
    }
    
    .fonImg{
        width: 108%;
        height: 192px;
        margin-left: -3.88%;
        margin-top: 108px;
        position: relative;
    }
    
    .fonImg::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 192px;
        background-image: url("../../assets/images/about_us/Rectangle 697.png");
        background-size: 100% 100%;
    }
    
    .fonImgTitle {
        top: 26.05px;
        left: 34%;
        right: 31.11%;
        height: 22.57px;
        position: absolute;
        z-index: 1;
    }
    
    .fonImgText{
        top: 66px;
        left: 3.89%;
        right: none;
        height: 15.96%;
        width: 92.22%;
        position: absolute;
        z-index: 1;
        text-align: center;
        font-size: 24px;
        line-height: 26.4px;
        /* font-size: 200%;
        line-height: 250%; */
        color: white;
    }
    
    .curvedLineImg {
        display: none;
        top: 51.42%;
        left: 19.04%;
        right: 19.04%;
        width: 61.73%;
        position: absolute;
        z-index: 1;
    }
    
    .learnDetailed{
        width: 92.22%;
        height: 22.44%;
        left: 3.89%;
        bottom: 17px;
        position: absolute;
        z-index: 1;
    }
    
    .learnDetailedNav{
        width: 100%;
        height: 100%;
        border-radius: 10px;
        color: #FFD600;
        text-decoration: none;
        font-size: 13px;
        line-height: 15.6px;
        font-family: NAMU-1990;
    }

    .thirdConteiner img{
        width: 100%;
    }
}