.sliderContainer {
    margin: 0 auto;
    margin-top: 121px;
    position: relative;
    width: 100%;
    overflow: hidden;
}
  
.slider {
    display: flex;
    width: 500%;
    transition: transform 0.5s ease-in-out;
}
  
.slider img {
    width: 20%;
    /* height: 100%; */
    object-fit: cover;
    border-radius: 15px;
}

.sliderSalon {
    display: flex;
    width: 400%;
    transition: transform 0.5s ease-in-out;
}

.sliderSalon img {
    width: 25%;
    /* height: 100%; */
    object-fit: cover;
    border-radius: 15px;
}
  
.prevButton,
.nextButton {
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.slide,
.activeSlide{
    width: 100%;
}
  
.prevButton {
    left: 10px;
}
  
.nextButton {
    right: 10px;
}
  
.thumbnails {
    display: flex;
    justify-content: center;
    gap: 1.18%;
    margin-top: 14px;
}
  
.thumbnail{
    width: 24.11%;
    height: 228px;
    object-fit: cover;
    border-radius: 15px;
}
  
.thumbnailForSalons{
    width: 32.14%;
    /* height: 228px; */
    object-fit: cover;
    border-radius: 15px;
}

.activeThumbnail{
    display: none;
}