.myModal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* display: none; */
    height: 100%;
    width: 100%;
    margin: auto;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    overflow-y: scroll;
    z-index: 10;
}

/* .myModal:before { 
    content: ''; 
    display: inline-block; 
    height: 100%; 
    vertical-align: middle; 
} */
  
.myModalContent {
    margin: auto;
    margin-top: 8%;
    margin-bottom: 8%;
    /* display: inline-block; */
    vertical-align: middle;
    /* background-color: white; */
    padding: 25px;
    background: #191919;
    border-radius: 16px;
    min-width: 250px;
    width: 68.54%;
    z-index: 11;
}
  
.myModal.active {
    opacity: 1;
    pointer-events: all;
}