.formAudit{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: NAMU-1850;
    border-radius: 15px;
    gap: 33px;
}

.titleAudit{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #FFFFFF;
    margin-top: 45px;
    font-size: 24px;
    line-height: 33.6px;
    font-family: NAMU-1850;
}

.allProducts{
    width: 100%;
}

.productBlock{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 91.39%;
    min-height: 169px;
    margin: 0 auto;
    border: #3D3A2E 1px solid;
    border-radius: 15px;
    padding: 15px;
}

.prodImg{
    display: flex;
    width: 143px;
    height: 134px;
}

.prodImg img{
    width: 100%;
    border-radius: 10px;
}

.title{
    color: #FFFFFF;
    font-size: 25px;
    line-height: 27.5px;
}

.charact{
    margin-top: 15px;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 26px;
}

.price{
    margin-top: 16px;
    color: #FFFFFF;
    font-size: 20.09px;
    line-height: 24.1px;
}

.countRange{
    display: flex;
    align-items: center;
    justify-content: center;
    border: #FFFFFF 1px solid;
    border-radius: 15px;
    width: 118px;
    height: 55.31px;
    gap: 8px;
}

.rangeButtonM{
    border: 0;
    background: transparent;
    color: #FFFFFF;
    font-size: 25px;
    line-height: 30px;
    margin-right: 5px;
}

.rangeButtonP{
    border: 0;
    background: transparent;
    color: #FFFFFF;
    font-size: 25px;
    line-height: 30px;
}
  
.rangeInput{
    width: 16px;
    height: 19px;
    font-size: 12.39px;
    line-height: 14.87px;
    color: #FFFFFF;
    padding-left: 4px;
    background: none;
    border: none;
    outline:none
}

.totalPrice{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 150px;
}

.totalPriceCount{
    color: #FFD600;
    font-size: 25px;
    line-height: 30px;
    margin: 0 auto;
    margin-top: 45px;
}

.totalPriceText{
    color: #FFFFFF;
    font-size: 20px;
    line-height: 24px;
    margin: 0 auto;
    margin-top: 20px;
    padding-right: 9px;
}

.divDeleteButton{
    padding-right: 21px;
}

.deleteButton{
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    border: #FFFFFF 1px solid; 
    background: none; 
    outline: none;
    border-radius: 50%;
}

.deleteButton img{
    margin-top: 3px;
    width: 100%;
}

.sixthContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 39px;
    width: 100%;
    font-family: NAMU-1990;
    position: relative;
}

.sixthContainer form {
    width: 100%;
    padding: 0 26px;
}

.learnDetailed{
    top: 73.4%;
    left: 33.68%;
    right: 33.68%;
    position: absolute;
    z-index: 1;
}

.sixthContText{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 14px;
    line-height: 21px;
    font-family: NAMU-1990;
    /* margin-right: 10%; */
    /* position: absolute; */
}

.formText{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 33px;
    color: #FFFFFF;
    opacity: 60%;
    font-size: 20px;
    line-height: 24px;
    font-family: NAMU-1990;
}

.formTitle{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 38px;
    margin-bottom: 19px;
    color: #FFFFFF;
    font-size: 28px;
    line-height: 39.2px;
    font-family: NAMU-1990;
}

.divField{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-size: 20px;
    line-height: 30px;
}

.firstField{
    display: flex; 
    flex-wrap: wrap;
    background-color: #fff5b81a;
    border-radius: 10px;
    border: 0.91px;
    width: 100%;
    height: 61.51px;
    margin-bottom: 13px;
    /* padding: 12px; */
    padding-left: 25px;
    padding-right: 25px;
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
}

.firstField::placeholder {
    height: 61.51px;
    opacity: 40%;
    color: #ffffff;
}

.secondField{
    display: flex; 
    flex-wrap: wrap;
    background-color: #fff5b81a;
    border-radius: 10px;
    border: 0.91px;
    width: 100%;
    height: 150.23px;
    resize: none;
    padding-top: 12px;
    padding-left: 25px;
    padding-right: 25px;
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
}

.secondField::placeholder {
    height: 138.23px;
    opacity: 40%;
    color: #ffffff;
}

.sendFormBut{
    background-color: #FFD600;
    width: 353px;
    /* fixed */
    height: 64px;
    /* fixed */
    border-radius: 15px;
    font-size: 20px;
    line-height: 24px;
    margin-top: 22px;
}

.bottomBlock{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 44px;
    /* margin-top: 53px; */
}

.bottomBlockText{
    margin-top: 33px;
    margin-left: 21px;
    color: #ffffff70;
    font-family: NAMU-1990;
}

.bottomBlockText .text2 {
    text-decoration: underline;
}

@media screen and (max-width: 1200px) {
    .totalPrice{
        display: none;
        margin-top: 0;
    }
}

@media screen and (max-width: 450px) {
    .formAudit{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-family: NAMU-1850;
        border-radius: 15px;
        gap: 15px;
    }
    
    .titleAudit{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
        color: #FFFFFF;
        margin-top: 15px;
        font-size: 24px;
        line-height: 33.6px;
        font-family: NAMU-1850;
    }
    
    .allProducts{
        width: 100%;
    }
    
    .productBlock{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 91.39%;
        min-height: 169px;
        /* margin: 0 auto; */
        border: none;
        /* border-radius: 15px; */
        padding: 2%;
    }
    
    .prodImg{
        display: flex;
        width: 100%;
        height: auto;
    }
    
    .prodImg img{
        width: 100%;
        border-radius: 10px;
    }

    .textBlock{
        width: 100%;
        margin-bottom: 10px;
    }
    
    .title{
        margin-top: 10px;
        color: #FFFFFF;
        font-size: 20px;
        line-height: 22px;
    }
    
    .charact{
        margin-top: 15px;
        color: #ffffff70;
        font-size: 12px;
        line-height: 14px;
    }
    
    .price{
        margin-top: 16px;
        color: #ffffff70;
        font-size: 20.09px;
        line-height: 24.1px;
    }
    
    .countRange{
        display: flex;
        align-items: center;
        justify-content: center;
        border: #FFFFFF 1px solid;
        border-radius: 15px;
        width: 90px;
        height: 40px;
        gap: 3px;
    }
    
    .rangeButtonM{
        border: 0;
        background: transparent;
        color: #FFFFFF;
        font-size: 25px;
        line-height: 30px;
        margin-right: 5px;
    }
    
    .rangeButtonP{
        border: 0;
        background: transparent;
        color: #FFFFFF;
        font-size: 25px;
        line-height: 30px;
    }
      
    .rangeInput{
        width: 16px;
        height: 19px;
        font-size: 12.39px;
        line-height: 14.87px;
        color: #FFFFFF;
        padding-left: 4px;
        background: none;
        border: none;
        outline:none
    }
    
    .totalPrice{
        display: none;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 150px;
    }
    
    .totalPriceCount{
        color: #FFD600;
        font-size: 25px;
        line-height: 30px;
        margin: 0 auto;
        margin-top: 45px;
    }
    
    .totalPriceText{
        color: #FFFFFF;
        font-size: 20px;
        line-height: 24px;
        margin: 0 auto;
        margin-top: 20px;
        padding-right: 9px;
    }
    
    .divDeleteButton{
        padding-right: 21px;
    }
    
    .deleteButton{
        align-items: center;
        justify-content: center;
        width: 26px;
        height: 26px;
        border: #FFFFFF 1px solid; 
        background: none; 
        outline: none;
        border-radius: 50%;
    }
    
    .deleteButton img{
        margin-top: 3px;
        width: 100%;
    }
    
    .sixthContainer{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 0;
        width: 100%;
        font-family: NAMU-1990;
        position: relative;
    }
    
    .sixthContainer form {
        width: 100%;
        padding: 0 2%;
    }
    
    .learnDetailed{
        top: 73.4%;
        left: 33.68%;
        right: 33.68%;
        position: absolute;
        z-index: 1;
    }
    
    .sixthContText{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-size: 14px;
        line-height: 21px;
        font-family: NAMU-1990;
        /* margin-right: 10%; */
        /* position: absolute; */
    }
    
    .formText{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 15px;
        color: #FFFFFF;
        opacity: 60%;
        font-size: 14px;
        line-height: 18px;
        font-family: NAMU-1990;
    }
    
    .formTitle{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 10px;
        color: #FFFFFF;
        font-size: 20px;
        line-height: 30px;
        font-family: NAMU-1990;
    }
    
    .divField{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        font-size: 20px;
        line-height: 30px;
    }
    
    .firstField{
        display: flex; 
        flex-wrap: wrap;
        background-color: #fff5b81a;
        border-radius: 10px;
        border: none;
        width: 100%;
        height: 40px;
        margin-bottom: 5px;
        /* padding: 12px; */
        padding-left: 10px;
        padding-right: 10px;
        color: #ffffff;
        /* border-color: #FFFFFF; */
        font-size: 14px;
        line-height: 18px;
    }
    
    .firstField::placeholder {
        height: 61.51px;
        opacity: 40%;
        /* color: #ffffff; */
    }
    
    .secondField{
        display: flex; 
        flex-wrap: wrap;
        background-color: #fff5b81a;
        border-radius: 10px;
        border: none;
        width: 100%;
        height: 80px;
        resize: none;
        padding-top: 6px;
        padding-left: 10px;
        padding-right: 10px;
        color: #ffffff;
        /* border-color: #FFFFFF; */
        font-size: 14px;
        line-height: 18px;
    }
    
    .secondField::placeholder {
        height: 138.23px;
        opacity: 40%;
        /* color: #ffffff; */
    }
    
    .sendFormBut{
        background-color: #FFD600;
        width: 100%;
        /* fixed */
        height: 44px;
        /* fixed */
        border-radius: 15px;
        font-size: 14px;
        line-height: 18px;
        margin-top: 22px;
    }
    
    .bottomBlock{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 8px;
        /* margin-top: 53px; */
    }
    
    .bottomBlockText{
        margin: 0 auto;
        margin-top: 33px;
        color: #ffffff70;
        text-align: center;
        font-family: NAMU-1990;
    }
    
    .bottomBlockText .text2 {
        text-decoration: underline;
    }
}