.product{
  display: block;
  width: 280px;
  font-family: NAMU-1850;
  margin-bottom: 20.1px;
}

.prodImg{
  width: 100%;
}

.prodImg img{
  width: 100%;
}

.title{
  color: #C9C9C9;
  font-size: 20px;
  line-height: 22px;
}

.charact{
  color: #ffffff87;
  font-size: 13.34px;
  line-height: 16.01px;
}

.text{
  color: #ffffff87;
  font-size: 13.34px;
  line-height: 16.01px;
  margin-top: 7px;
  margin-bottom: 15px;
}

.price{
  color: #C9C9C9;
  font-size: 20.09px;
  line-height: 24.1px;
}

.buttons{
  display: flex;
  gap: 6.35px;
  margin-top: 29.7px;
}

.title{
  margin-top: 12px;
  margin-bottom: 12px;
}

.divMoreButton{
  width: 113.7px;
  height: 45.15px;
}

.moreButton{
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #FFF0B9;
  border-radius: 15.29px;
  border: #FFF0B9 1px solid;
  color: #0B0B0B;
  font-size: 12.39px;
  line-height: 14.87px;
  font-family: NAMU-1990;
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear; 
}

.moreButton:hover{
  color: #FFF0B9;
  background-color: #0B0B0B;
}

.divBasketButton{
  width: 159.94px;
  height: 45.15px;
}

.basketButton{
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #FFD600;
  border-radius: 15.29px;
  border: #FFD600 1px solid;
  color: #000000;
  font-size: 12.39px;
  line-height: 14.87px;
  font-family: NAMU-1990;
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear; 
}

.basketButton:hover{
  border: #000000 1px solid;
}

.basketButton img{
  margin-top: 13.87px;
  margin-right: 10.05px;
}

.basketButton div{
  margin-top: 13.3px;
}

@media screen and (max-width: 450px) {
  .product{
    display: block;
    width: 162px;
    font-family: NAMU-1850;
    margin-bottom: 20.07px;
  }
  
  .prodImg{
    width: 100%;
  }
  
  .prodImg img{
    width: 100%;
  }
  
  .title{
    margin-top: 12px;
    margin-bottom: 5px;
    color: #C9C9C9;
    font-size: 15px;
    line-height: 15.75px;
  }
  
  .charact{
    color: #ffffff87;
    font-size: 11px;
    line-height: 15.4px;
  }
  
  .text{
    color: #ffffff87;
    font-size: 11px;
    line-height: 15.4px;
    margin-top: 7px;
    margin-bottom: 15px;
  }
  
  .price{
    color: #C9C9C9;
    font-size: 15px;
    line-height: 15.75px;
  }
  
  .buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 162px;
    height: 76.93px;
    gap: 7px;
    margin-top: 18px;
  }
  
  .divMoreButton{
    display: flex;
    flex-wrap: wrap;
    width: 162px;
    height: 34.97px;
  }
  
  .moreButton{
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #FFF0B9;
    border-radius: 5px;
    color: #0B0B0B;
    font-size: 11px;
    line-height: 13.2px;
    font-family: NAMU-1990;
  }
  
  .divBasketButton{
    display: flex;
    flex-wrap: wrap;
    width: 162px;
    height: 34.97px;
  }
  
  .basketButton{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #FFD600;
    border-radius: 5px;
    color: #000000;
    font-size: 11px;
    line-height: 13.2px;
    font-family: NAMU-1990;
  }
  
  .basketButton img{
    display: none;
    margin-top: 0;
    margin-right: 0;
  }
  
  .basketButton div{
    margin-top: 8px;
  }
}