.grid {
  margin: 0 auto;
  display: grid;
  /* width: 1680px; */
  grid-template-areas:
  "h h"
  "c c"
  "f f";
  grid-template-rows: 74.03px 1fr 304px;
  grid-template-columns: 1fr 1fr;
  font-family: "NAMU";
  /* font-family: "NAMU" , sans-serif; */
  background-color: black;
}

.add-wrapper-content {
  grid-area: c;
}

/* .voidBlock{
  grid-area: o;
  background-color: black;
} */

@media screen and (max-width: 450px) {
  .grid {
    margin: 0 auto;
    display: grid;
    /* width: 1680px; */
    grid-template-areas:
    "h h"
    "c c"
    "f f";
    grid-template-rows: 82px 1fr 957px;
    grid-template-columns: 1fr 1fr;
    font-family: "NAMU";
    /* font-family: "NAMU" , sans-serif; */
    background-color: black;
  }
  
  .add-wrapper-content {
    grid-area: c;
  }
}
