.welding{
    justify-content: flex-start;
    height: 1fr;
    margin: 0 auto;
    width: 80%;
}

.sawingTitleYellow{
    color: rgba(255, 214, 0, 1);
}

.titleWhite{
    color: rgba(255, 255, 255, 1);
}

.titleYellow{
    color: rgba(255, 214, 0, 1);
}

.line15_6{
    width: 15.6px;
}

.firstContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 133.97px;
    opacity: 0;
}

.logoText{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 84.07%;
    font-size: 60px;
    line-height: 66px;
    font-family: NAMU-1960;
    gap: 10px;
}

.fonImg{
    width: 100%;
    height: 367px;
    margin: 0 auto;
    margin-top: 42px;
    position: relative;
}

.fonImg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 367px;  
    background-image: url("../../assets/images/welding/sawingFonImg.png");
    background-size: 100% 100%;
}

.whatIsWeld{
    opacity: 0;
}

.firstTitle{
    display: flex;
    flex-wrap: wrap;
    font-size: 32px;
    line-height: 44.8px;
    margin-top: 115px;
    gap: 10px;
}

.paragsCont{
    width: 91.9%;
    margin-top: 38px;
    font-size: 20px;
    line-height: 28px;
    font-family: NAMU-1990;
    color: #ffffff99;
}

.secondContainer{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-top: 26px;
    gap: 0.97%;
}

.secondContainer img {
    width: 32.56%;
}

.secondContainer .bottomImg{
    display: flex;
}

.secondContainer .alterBottomImg{
    display: none;
}

.line2{
    height: 2px;
}

.line8{
    height: 8px;
}

.line10{
    height: 10px;
}

.line12{
    height: 12px;
}

.line23{
    height: 23px;
}

.line47{
    height: 47px;
}

.verticalLine14{
    width: 14px;
}

.aboutFurn{
    display: flex;
    flex-wrap: wrap;
    font-size: 32px;
    line-height: 44.8px;
    margin: 0 auto;
    margin-top: 146.88px;
    align-items: center;
    justify-content: center;
    font-family: NAMU-1850;
    gap: 10px;
    opacity: 0;
}

.thirdContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: NAMU-1850;
    margin-top: 50px;
    gap: 14px;
}
  
.thirdBlock{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #fff5b81a;
    width: 378px;
    height: 221px;
    border-radius: 15px;
    opacity: 0;
}

.thirdBlock .numbAndTitl{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 26px;
    margin-top: 12px;
}

.thirdBlock .number{
    font-size: 40px;
    line-height: 56px;
    color: #FFD600;
    margin-right: 21px;
}

.thirdBlock .title{
    display: block;
    font-size: 20px;
    line-height: 28px;
    width: 276px;
    height: 28px;
    color: #FFFFFF;
    margin-top: 14px;
}

.thirdBlock .paragraph{
    font-size: 15px;
    line-height: 21px;
    color: #ffffff87;
    margin-top: 6px;
    margin-left: 21px;
    margin-right: 7px;
    margin-bottom: 21px;
}

.thirdBlockImg{
    opacity: 0;
}

.title1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 32px;
    line-height: 44.8px;
    margin-top: 153px;
    margin-bottom: 69.12px;
}

.migWelding{
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    line-height: 35px;
    gap: 10px;
    opacity: 0;
}

.fourthContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: NAMU-1850;
    margin-top: 50px;
    gap: 41px;
}

.fourthBlock1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 548px;
    margin-right: 46.43%;
    opacity: 0;
    /* height: 221px; */
}

.fourthBlock2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 548px;
    margin-left: 50.65%;
    opacity: 0;
    /* height: 221px; */
}

.fourthBlock1 .numbAndTitl,
.fourthBlock2 .numbAndTitl{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.fourthBlock1 .number,
.fourthBlock2 .number{
    font-size: 51px;
    line-height: 71.4px;
    color: #FFD600;
}

.fourthBlock1 .title,
.fourthBlock2 .title{
    width: 497px;
    font-size: 17px;
    line-height: 23.8px;
    color: #FFFFFF;
    margin-top: 15px;
}

.fourthBlock1 .paragraph,
.fourthBlock2 .paragraph{
    font-size: 17px;
    line-height: 23.8px;
    color: #FFFFFF;
}

.tigWelding{
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    line-height: 35px;
    margin-top: 154px;
    gap: 10px;
    opacity: 0;
}

.argWelding{
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    line-height: 35px;
    width: 88.63%;
    margin-top: 154px;
    gap: 10px;
    opacity: 0;
}

.sevenStages{
    display: flex;
    flex-wrap: wrap;
    font-size: 40px;
    line-height: 40px;
    margin-top: 171.88px;
    gap: 10px;
    opacity: 0;
}

.fifthContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: NAMU-1850;
    margin-top: 50px;
}

.fifthBlock1,
.fifthBlock2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff1a;
    width: 100%;
    border-radius: 15px;
    margin-top: 61px;
    opacity: 0;
    /* height: 221px; */
}

.fifthBlock1 .imgSide,
.fifthBlock2 .imgSide{
    display: flex;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    width: 41%;
    height: 100%;
}

.fifthBlock1 .imgSide img,
.fifthBlock2 .imgSide img{
    display: flex;
    width: 100%;
    height: 100%;
}

.fifthBlock2 .alerImgSide{
    display: none;
}

.fifthBlock1 .textSide{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 59%;
    height: 100%;
    /* top: -117px; */
    position: relative;
}

.fifthBlock2 .textSide{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 59%;
    height: 100%;
    /* top: -117px; */
    position: relative;
}

.fifthBlock1 .numbAndTitl,
.fifthBlock2 .numbAndTitl{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 50px;
    gap: 30px;
}

.fifthBlock1 .number,
.fifthBlock2 .number{
    font-size: 65px;
    line-height: 65px;
    color: #FFD600;
}

.fifthBlock1 .title,
.fifthBlock2 .title{
    font-size: 25px;
    line-height: 35px;
    color: #FFFFFF;
}

.fifthBlock1 .paragraph,
.fifthBlock2 .paragraph{
    font-size: 20px;
    line-height: 28px;
    color: #ffffff87;
    margin-top: 28.12px;
    margin-left: 50px;
    margin-right: 77px;
}

.everyWelding{
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    line-height: 35px;
    width: 88.63%;
    margin-top: 117px;
    gap: 10px;
    opacity: 0;
}

@media screen and (max-width: 450px) {
    .welding{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: 1fr;
        margin: 0 auto;
        width: 92.22%;
    }
    
    .titleWhite{
        color: rgba(255, 255, 255, 1);
    }
    
    .titleYellow{
        color: rgba(255, 214, 0, 1);
    }
    
    .line15_6{
        width: 15.6px;
    }
    
    .firstContainer{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 39px;
    }
    
    .logoText{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        font-size: 32.35px;
        line-height: 35.59px;
        font-family: NAMU-1960;
        gap: 7px;
    }
    
    .fonImg{
        width: 100%;
        height: 206px;
        margin: 0 auto;
        margin-top: 29px;
        position: relative;
    }
    
    .fonImg::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 206px;  
        background-image: url("../../assets/images/welding/logoForFonMini.png");
        background-size: 100% 100%;
    }
    
    .homePageKitchenNav{
        display: flex;
        flex-wrap: wrap;
        width: 136px;
        height: 22.57px;
        position: absolute;
        z-index: 1;
        align-items: center;
        justify-content: center;
        top: 29.92px;
        left: 7.53%;
    }
    
    .homePageKitchenNav img {
        width: 100%;
    }
    
    .vertStick{
        display: none;
        width: 0.09%;
    }
    
    .homePageKitchenNav .navSegm{
        display: none;
        width: 37.45%;
        align-items: center;
        justify-content: center;
        opacity: 80%;
        color: #000000;
    }
    
    .homePageKitchenNav .centNavSegm{
        display: none;
        width: 24.91%;
        align-items: center;
        justify-content: center;
        opacity: 80%;
        color: #000000;
    }
    
    .firstTitle{
        font-size: 24px;
        line-height: 33.6px;
        margin-top: 70px;
        gap: 7px;
    }

    .paragsCont{
        width: 95.78%;
        font-size: 16px;
        line-height: 22.4px;
        margin-top: 21px;
    }
    
    .secondContainer{
        display: none;
        margin-top: 59px;
        justify-content: flex-start;
        columns: auto;
    }
    
    .secondContainer{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;
        gap: 0;
    }

    .secondContainer img{
        width: 49.1%;
    }

    .secondContainer .bottomImg{
        display: none;
    }

    .secondContainer .alterBottomImg{
        display: flex;
        width: 100%;
        margin-top: 7px;
    }
    
    .line2{
        height: 2px;
    }
    
    .line8{
        height: 8px;
    }
    
    .line10{
        height: 10px;
    }
    
    .line12{
        display: none;
        height: 12px;
    }
    
    .line23{
        height: 23px;
    }
    
    .line47{
        height: 47px;
    }
    
    .verticalLine14{
        width: 14px;
    }

    .alterSecBigHomeImg{
        width: 100%;
        height: 172px; 
        margin-top: 31.12px;
        position: relative;
        margin-bottom: 45.38px;
    }
    
    .alterSecBigHomeImg::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 172px;
        background-image: url("../../assets/images/secBigHomeImg.png");
        background-size: 100% 100%;
    }
    
    .alterWhiteLogoImg{
        display: flex;
        flex-wrap: wrap;
        width: 32.53%;
        height: 63.42px;
        position: absolute;
        z-index: 1;
        top: 54.12px;
        left: 33.73%;
    }
    
    .alterWhiteLogoImg img{
        width: 100%;
    }
    
    .secBigHomeImg{
        width: 0;
        height: 0;
    }

    .whiteLogoImg{
        width: 0;
        height: 0;
    }
    
    .whiteLogoImg img{
        width: 0;
        height: 0;
    }
    
    .aboutFurn{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 0 auto;
        margin-top: 76px;
        align-items: center;
        justify-content: center;
        font-family: NAMU-1850;
        gap: 7px;
    }

    .thirdBlock{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background-color: #fff5b81a;
        width: 330px;
        height: 2.45%;
        border-radius: 10px;
    }
    
    .thirdBlockImg {
        display: none;
    }
    
    .thirdBlock .numbAndTitl{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        margin-left: 19px;
        margin-top: 19px;
    }
    
    .thirdBlock .number{
        font-size: 36px;
        line-height: 36px;
        color: #FFD600;
        margin-right: 19px;
    }
    
    .thirdBlock .title{
        display: block;
        font-size: 20px;
        line-height: 28px;
        width: 268px;
        height: 28px;
        color: #FFFFFF;
        margin-top: 8px;
    }
    
    .thirdBlock .paragraph{
        font-size: 16px;
        line-height: 22.4px;
        color: #ffffff87;
        margin-top: 16px;
        margin-left: 19px;
        margin-right: 28px;
        margin-bottom: 27px;
    }

    .title1{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        font-size: 24px;
        line-height: 33.6px;
        margin-top: 95px;
        margin-bottom: 41px;
    }

    .migWelding{
        font-size: 20px;
        line-height: 28.4px;
        gap: 7px;
    }

    .tigWelding{
        font-size: 20px;
        line-height: 28.4px;
        margin-top: 71px;
        gap: 7px;
    }

    .fourthContainer{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        font-family: NAMU-1850;
        margin-top: 50px;
        width: 100%;
        gap: 0;
    }
    
    .fourthBlock1,
    .fourthBlock2{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 36px;
        margin-left: 0;
        margin-right: 0;
        /* height: 221px; */
    }
    
    .fourthBlock1 .numbAndTitl,
    .fourthBlock2 .numbAndTitl{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
    
    .fourthBlock1 .number,
    .fourthBlock2 .number{
        font-size: 36px;
        line-height: 36px;
        color: #FFD600;
    }
    
    .fourthBlock1 .title,
    .fourthBlock2 .title{
        font-size: 16px;
        line-height: 22.4px;
        color: #FFFFFF;
        margin-top: 8px;
    }
    
    .fourthBlock1 .paragraph,
    .fourthBlock2 .paragraph{
        font-size: 16px;
        line-height: 22.4px;
        color: #FFFFFF;
    }

    .argWelding{
        display: flex;
        flex-wrap: wrap;
        font-size: 20px;
        line-height: 28px;
        width: 100%;
        margin-top: 65px;
        gap: 10px;
    }
    
    .sevenStages{
        display: flex;
        flex-wrap: wrap;
        font-size: 24px;
        line-height: 33.6px;
        margin-top: 77.88px;
        gap: 10px;
    }
    
    .fifthContainer{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        font-family: NAMU-1850;
        margin-top: 50px;
    }
    
    .fifthBlock1,
    .fifthBlock2{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        background-color: #000000;
        width: 100%;
        margin-top: 30px;
        /* height: 221px; */
    }
    
    .fifthBlock1 .imgSide{
        display: flex;
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        margin-top: 30.12px;
    }

    .fifthBlock2 .imgSide{
        display: none;
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
    
    .fifthBlock1 .imgSide img,
    .fifthBlock2 .imgSide img{
        display: flex;
        width: 100%;
        height: 100%;
    }

    .fifthBlock2 .alerImgSide{
        display: flex;
        position: relative;
        top: none;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        margin-top: 30.12px;
    }

    .fifthBlock2 .alerImgSide img{
        display: flex;
        width: 100%;
        height: 100%;
    }
    
    .fifthBlock1 .textSide{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        position: relative;
    }
    
    .fifthBlock2 .textSide{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        position: relative;
    }
    
    .fifthBlock1 .numbAndTitl,
    .fifthBlock2 .numbAndTitl{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-left: 0px;
        gap: 30px;
    }
    
    .fifthBlock1 .number,
    .fifthBlock2 .number{
        font-size: 65px;
        line-height: 65px;
        color: #FFD600;
    }
    
    .fifthBlock1 .title,
    .fifthBlock2 .title{
        font-size: 20px;
        line-height: 28px;
        margin-top: 9.12px;
        color: #FFFFFF;
    }
    
    .fifthBlock1 .paragraph,
    .fifthBlock2 .paragraph{
        font-size: 16px;
        line-height: 22.4px;
        color: #ffffff87;
        margin-top: 23.88px;
        margin-left: 0;
        margin-right: 0;
    }
    
    .everyWelding{
        display: none;
        flex-wrap: wrap;
        font-size: 25px;
        line-height: 35px;
        width: 88.63%;
        margin-top: 117px;
        gap: 10px;
    }
}