.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem{
    padding: 10px;
}

.blockItem{
    width: 50px;
    flex-basis: 10px;
    justify-content: flex-start;
    font-size: 13px;
    columns: auto;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.dialogsItem .active{
    color: gold;
}

.messagesItem{
    padding: 10px;
}

.messagesItem .message{

}

.myMessages{
    position: absolute;
    float: right;
}

.otherMessages{
    position: absolute;
    float: left;
}

