.nav {
    grid-area: n;
    background-color: cadetblue;
    padding: 10px;
}

.item a{
    color: white;
    text-decoration: none;
}

.item a.active{
    color: gold;
}

h3{
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 30px;
}

.block
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 125px;
    position: absolute;
    margin: 0 auto;
    padding: 0px;
}

.blockItem{
    width: 50px;
    display: inline-block;;
    flex-basis: 10px;
    justify-content: flex-start;
    font-size: 13px;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto 
}